# Ignore environment variable files
backend/.env

# Python cache / compiled files
backend/__pycache__/

backend/services/__pycache__/

backend/routes/__pycache__/

backend/utils/__pycache__/

*.pyc

# Virtual environment
backend/venv/